* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Spectral', cursive;
  min-height: 100vh;
  background-color: #111;
}

nav {
  background-color: rgba(17, 17, 17, 0.438);
}

.logo {
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

.orange {
  color: #C65102 !important;
}

.list li {
  padding: 0 5px;
}

.list li a {
  font-size: 25px;
  color: #fff !important;
}

.list li {
  padding: 0 5px;
}

.list li a {
  font-size: 25px;
  color: #fff !important;
}

footer ul li {
  list-style-type: none;
  padding: 0 10px;
}

#date {
  background-image: url("../images/contactus3.jpg");
  background-size: cover;
  min-height: 70vh;
  color: ivory;
  background-color: rgba(17, 17, 17, 0.733);
  box-shadow: inset 0 0 0 50vw rgba(14, 8, 11, 0.719);
}

#boom textarea {
  min-height: 40vh;
  width: 90%;
}

#boom textarea::placeholder {
  color: rgba(0, 0, 0, 0.658);
}

#take input {
  margin: 0 5px;
}

#take input::placeholder {
  color: rgba(12, 1, 1, 0.418) !important;
}

#admire {
  margin: top 5px;
}